<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
  <header class="{{ header_classes }}" role="banner">
  <div class="usa-logo" id="logo">

    <a class="logo-img" href="/" accesskey="1" title="Home" aria-label="Home">
    <img src="/sites/default/files/OCG_54px%20Logo%20COLOR.png" alt="Home">
  </a>
    
</div>

</header>
<div class="page">
    {{ content }}
</div>
</body>
</html>
